body::before {
	content: "";
	position: fixed;
	inset: 0;

	background-image: url("neighborhood-park.jpg");
	background-size: cover;
	background-position: center;

	opacity: 0.2;
	z-index: -1;
}

body {
	text-align: center;
}

#container {
	display: flex;
	grid-template-columns: 1fr 1fr;
	justify-self: center;
	height: 400px;
}

form {
	padding-left: 10em;
	align-content: center;
	text-align: left;
}

#yearly-rate {
	width: 4em;
}